{% extends "base.html.twig" %}

{% block title %}Draw a Card{% endblock %}

{% block body %}
<h1>Draw a Card</h1>



<div class="draw-wrapper">
    <div class="draw-header">
        <div class="remaining-cards">
            Antal kort kvar i leken: {{ remainingCards }}
        </div>
        <div class="draw-buttons">
            <div class="card-box">
                <a href="{{ path('deck_draw') }}" class="card-link">Draw a Card</a>
            </div>
            {% if remainingCards == 0 %}
                <div class="card-box">
                    <a href="{{ path('create_and_shuffle', {'source': 'from_draw'}) }}" class="card-link">Draw from a new deck</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="single-card">
        {{ drawnCard|raw }}
    </div>
</div>




{{ include('flash.html.twig') }}

{% endblock %}