{% extends "base.html.twig" %}

{% block title %}Draw a Card{% endblock %}

{% block body %}
<h1>{{ title }}</h1>



<div class="draw-wrapper">
    <div class="draw-header">
        <div class="remaining-cards">
            Antal kort kvar i leken: {{ remainingCards }}
        </div>
        <div class="draw-buttons">
            <div class="box">
                <a href="{{ path('deck_draw') }}" class="repo-link">Dra ett kort</a>
            </div>
            {% if remainingCards == 0 %}
                <div class="box">
                    <a href="{{ path('create_and_shuffle', {'source': 'from_draw'}) }}" class="repo-link">Dra från ny kortlek</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="deck">
        {% if drawnCards is iterable %}
            {% for row in drawnCards|batch(13) %}
                <div class="card-row">
                    {% for card in row %}
                        <div class="single-card">
                            {{ card|raw }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <div class="single-card">
                {{ drawnCards|raw }}
            </div>
        {% endif %}
    </div>
</div>

{{ include('flash.html.twig') }}

{% endblock %}