{% extends "base.html.twig" %}

{% block title %}21{% endblock %}

{% block body %}
<h1>{{ title }}</h1>


{# {{ include('flash.html.twig') }} #}

<div class="col-wrapper">
    <div class="col-left">
        <div class="dealt-cards">
            <div class="player-cards">
                <h3>{{ players.player.getName() }}</h3>
                <div class="col-wrapper">
                    <div class="small-player-info">
                        <div>Poäng: {{ players.player.getScore() }}</div>
                        <div>Pengar: {{ players.player.getMoney() }}</div>
                    </div>
                    <div class="small-flash-box">
                        {{ include('flash.html.twig') }}
                    </div>
                </div>

                <div class="card-row-wrapper">
                    {% for row in players.player.getHand().getHand()|batch(6) %}
                        <div class="card-row">
                            {% for card in row %}
                                <div class="single-card">
                                    {{ card|raw }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% set game = app.session.get('game') %}
        {% if game is not null %}
            {% if game.isGameOver() %}
                {{ include('game/buttons/button_new_game.html.twig') }}
            {% else %}
                {% if game.isRoundOver() %}
                    {{ include('game/buttons/button_play_again.html.twig') }}
                {% else %}
                    {% if game.isBetPlaced() %}
                        {{ include('game/buttons/button_hit_stand.html.twig') }}
                    {% else %}
                        {{ include('game/buttons/button_place_bet.html.twig') }}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    <div class="col-left">
        <div class="dealt-cards">
            <div class="player-cards">
                <h3>{{ players.bank.getName() }}</h3>
                <div class="col-wrapper">
                    <div class="col-left">
                        <div>Poäng: {{ players.bank.getScore() }}</div>
                        <div>Pengar: {{ players.bank.getMoney() }}</div>
                    </div>
                    <div class="col-left">
                        <div>I potten: {{ amount * 2 }}</div>
                    </div>
                </div>
                <div class="card-row-wrapper">
                    {% for row in players.bank.getHand().getHand()|batch(6) %}
                        <div class="card-row">
                            {% for card in row %}
                                <div class="single-card">
                                    {{ card|raw }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>




{% block main %}{% endblock %}

{% endblock %}