{% extends 'base.html.twig' %}

{% block title %}API{% endblock %}

{% block body %}
    <h1>Tillgängliga JSON routes</h1>
    <ul>
        {% for route in jsonRoutes %}
            <li>
                {% if 'number' in route.path %}
                    <form action="{{ path(route.name, { 'number': 4 }) }}" method="{{ route.method }}">
                        <label for="numberInput">Number of cards:</label>
                        <input type="number" id="numberInput" name="number" value="4">
                        <button class="api-button" type="submit">{{ route.path }}</button>
                    </form>
                {% else %}
                    <form action="{{ path(route.name) }}" method="{{ route.method }}">
                        <button class="api-button" type="submit">{{ route.path }}</button>
                    </form>
                {% endif %}
                <span>{{ route.description }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}